[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[user]
	name = Aleksandrs K
	email = a@a.de
[commit]
	template = ~/.gitcommitmsg
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	type = cat-file -t
	dump = cat-file -p
