[Desktop Entry]
Name=Decrease mouse sensitivity
Exec=xset m 0 0
Type=Application
Comment[en_US]=Use xset to set mouse params
Comment=Use xset to set mouse params
